.images
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texts
{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    color: white;
}

body
{
    background-image: url('/static/img/aboutus.jpg');
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}