
body
{
    background-image: url('/static/img/img6.jpg');
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {box-sizing: border-box}

input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 20px 0 22px 0;
    display: inline-block;
    border: none;
    background: #bdbdbd;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid white;
    margin-bottom: 25px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  #signuplink {
    color: black;
  }

  .form-1 {
    /* Size & position */
    width: 60%;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
    position: relative;
}

#signuplink 
{
  color: blue;
}

