{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Around The World{% endblock %}

<html lang="en">

{% block page_content %}
<head>
    <meta charset="UTF-8">
    <title>Around The World</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post.css') }}"/>
<body>
    <div class="form-1">
    <h1>{{Name}}'s Profile</h1>
    <p>
    Email: {{Email}}<br>
    Username: {{Username}}<br>
    Password: {{Password}}
    {{wtf.quick_form(Profile)}}
    </p>

    <p>    {{wtf.quick_form(Post)}} </p>

    <p>    {{wtf.quick_form(Delete)}} </p>
    <p>
    {{wtf.quick_form(emailup)}}
    </p>
    <p>
    {{wtf.quick_form(newNam)}}
    </p>
    </div>

</body>

{% endblock %}
