{%extends "base.html"%}
{%block content%}
<form action="">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <div class="container">

      <h1>Around The World</h1>
      <p>Sign up to view blog posts</p>
      <hr><br>
        
      {{form.name.label}}<br>
      {{form.name(size=30)}}
      <br>
      {{form.username.label}}<br>
      {{form.username(size=30)}}
      <br>
      {{form.email.label}}<br>
      {{form.email(size=30)}}
      <br>
      {{form.password.label}}<br>
      {{form.password(size=30)}}
      <br>
      {{form.submit()}}

      </div>

    </div>

  </form>
{%endblock%}
