{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Around The World{% endblock %}

{% block page_content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}"/>


    <div class="form-1">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <b>
        {{wtf.quick_form(verify)}}
        </b>

    </div>
  {% endblock %}
